
@using Lamb_N_Lentil.Domain.UsdaInformation
@model IEnumerable<Lamb_N_Lentil.UI.Models.IngredientListViewModel>

@{
    /**/

    ViewBag.Title = "Index";
    IList<SelectListItem> ulist = EnumHelper.GetSelectList(typeof(UsdaDataSource));
    List<SelectListItem> list = (List<SelectListItem>)ulist;
}

<h1>Search For Ingredients</h1>
<h2>@ViewBag.NoResults</h2>

@using (Html.BeginForm("ShowResults", UIType.Ingredients.ToString(), new { Controller = UIType.Ingredients.ToString(), searchText = "searchText", databaseSelection=Enum.TryParse("databaseSelection",out UsdaDataSource databaseSelection) }))
{
    <p>
        @Html.DropDownList("databaseSelection", list, "Select Database",new { @class = "input" })
        The default is "all databases".
    </p>
    <p>  <label>Enter text to search for ingredients:</label></p>
    <p>
        @Html.TextBox("searchText", "Enter Description of What You are Looking For Here", new { @class = "ingredientTextBox", maxlength = "43" })
        <br />
        There is a 43 character limit on searches in the USDA databases.
    </p>


    <p>  <input type="submit" value="Search" /></p>
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsdaDataSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerOrFoodGroup)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.UsdaDataSource)
            </td> 
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.ManufacturerOrFoodGroup)
            </td>
            <td>
                @*@Html.ActionLink("Details", "Detail", new {Controller = "Ingredients",  id = item.Ndbno })*@
            </td>
        </tr>
    }

</table>
