@model IEnumerable<Lamb_N_Lentil.UI.Models.IngredientListViewModel>

@{
    ViewBag.Title = "Index";
}

<h1>Search For Ingredients</h1>
<h2>@ViewBag.NoResults</h2>

@using (Html.BeginForm("ShowResults", UIType.Ingredients.ToString(), new { Controller = UIType.Ingredients.ToString(), searchText = "searchText" }))
{

    <p>  <label>Enter text to search for ingredients from the branded food database:</label></p>
    <p>     @Html.TextBox("searchText", "Enter Description of What You are Looking For Here", new { @class = "ingredientTextBox", maxlength = "43" }) </p>
  
  <p>  <input type="submit" value="Search" /></p>
}
 


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsdaDataSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ndbno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerOrFoodGroup)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.UsdaDataSource)
            </td>
            <td>
                @Html.DisplayFor(model => item.Ndbno)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.ManufacturerOrFoodGroup)
            </td>
            <td>
                @*@Html.ActionLink("Details", "Detail", new {Controller = "Ingredients",  id = item.Ndbno })*@
            </td>
        </tr>
    }

</table>
